USE [master]
GO
/****** Object:  Database [Seguros]    Script Date: 9/28/2023 1:18:35 AM ******/
CREATE DATABASE [Seguros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Seguros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Seguros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Seguros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Seguros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Seguros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Seguros]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[codigo] [varchar](11) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[primer_apellido] [varchar](50) NOT NULL,
	[segundo_apellido] [varchar](50) NULL,
	[fecha_nac] [date] NOT NULL,
	[id_tipo_cuenta] [int] NOT NULL,
	[numero_cuenta] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_solicitud]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_solicitud](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planes]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planes](
	[codigo] [varchar](3) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
	[cuota] [decimal](10, 2) NOT NULL,
	[min_edad] [int] NOT NULL,
	[max_edad] [int] NOT NULL,
	[codigo_seguro] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[polizas]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[polizas](
	[codigo] [varchar](15) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[fecha_venta] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_permitidos]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_permitidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_seguro] [varchar](3) NOT NULL,
	[id_tipo_cuenta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seguros]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seguros](
	[codigo] [varchar](3) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_cliente] [varchar](11) NOT NULL,
	[codigo_seguro] [varchar](3) NOT NULL,
	[codigo_plan] [varchar](3) NOT NULL,
	[codigo_estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_cuentas]    Script Date: 9/28/2023 1:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_cuentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD FOREIGN KEY([id_tipo_cuenta])
REFERENCES [dbo].[tipo_cuentas] ([id])
GO
ALTER TABLE [dbo].[planes]  WITH CHECK ADD FOREIGN KEY([codigo_seguro])
REFERENCES [dbo].[seguros] ([codigo])
GO
ALTER TABLE [dbo].[polizas]  WITH CHECK ADD FOREIGN KEY([id_solicitud])
REFERENCES [dbo].[solicitudes] ([id])
GO
ALTER TABLE [dbo].[productos_permitidos]  WITH CHECK ADD FOREIGN KEY([codigo_seguro])
REFERENCES [dbo].[seguros] ([codigo])
GO
ALTER TABLE [dbo].[productos_permitidos]  WITH CHECK ADD FOREIGN KEY([id_tipo_cuenta])
REFERENCES [dbo].[tipo_cuentas] ([id])
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD FOREIGN KEY([codigo_cliente])
REFERENCES [dbo].[clientes] ([codigo])
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD FOREIGN KEY([codigo_seguro])
REFERENCES [dbo].[seguros] ([codigo])
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD FOREIGN KEY([codigo_plan])
REFERENCES [dbo].[planes] ([codigo])
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD FOREIGN KEY([codigo_estado])
REFERENCES [dbo].[estados_solicitud] ([id])
GO
USE [master]
GO
